<div th:fragment="content" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h1>Users List</h1>
    <a class="btn btn-primary mb-3" th:href="@{/users/addUser}" sec:authorize="hasRole('ADMIN')">Add User</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.login}"></td>
            <td th:text="${user.role?.name}"></td>
            <td>
                <a class="btn btn-sm btn-info" th:href="@{'/users/updateUser/' + ${user.id}}" sec:authorize="hasRole('ADMIN')">Edit</a>
                <a class="btn btn-sm btn-danger" th:href="@{'/users/delete/' + ${user.id}}" sec:authorize="hasRole('ADMIN')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="pagination mt-3">
        <ul class="pagination">
            <li class="page-item" th:if="${currentPage > 0}">
                <a class="page-link" th:href="@{/users/view(page=${currentPage - 1}, size=5)}">Previous</a>
            </li>

            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:href="@{/users/view(page=${i}, size=5)}" th:text="${i + 1}"></a>
            </li>

            <li class="page-item" th:if="${currentPage < totalPages - 1}">
                <a class="page-link" th:href="@{/users/view(page=${currentPage + 1}, size=5)}">Next</a>
            </li>
        </ul>
    </div>
</div>
